# Analysis of 6 Games

In [1]:
import pandas as pd
import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)

In [2]:
df = pd.read_csv('ff_data.csv')

In [3]:
df.head(10)

      name    week  score    opp  margin
0  stephen  Week 1   67.8   91.3   -23.5
1  stephen  Week 2   89.4  103.2   -13.8
2  stephen  Week 3   89.1  127.0   -37.9
3  stephen  Week 4  155.0  109.2    45.8
4  stephen  Week 5   77.4  120.0   -42.6
5  stephen  Week 6  119.3  118.2     1.1
6   dustin  Week 1  108.4   89.1    19.3
7   dustin  Week 2   84.0  122.5   -38.5
8   dustin  Week 3  102.9   72.2    30.7
9   dustin  Week 4  109.2  155.0   -45.8

In [4]:
names = df.name.unique().tolist()

In [5]:
# create lists
lost_margin = []
win_margin = []
avg = []
std = []
for n in names:
    avg.append(df[(df.name==n)].score.mean())
    std.append(df[(df.name==n)].score.std())
    lost_margin.append(df[(df.name==n)&(df.margin<0)].margin.mean())
    win_margin.append(df[(df.name==n)&(df.margin>0)].margin.mean())

In [6]:
# create df
df2 = pd.DataFrame(data={'name':names,
                   'avg_score':avg,
                   'std':std,
                   'win_margin':win_margin,
                   'lost_margin':lost_margin
                  })

In [7]:
df2['standings'] = ['2-4','3-3','1-5','4-2','3-3','5-1','3-3','4-2','3-3','4-2','2-4','2-4']

In [12]:
df2.sort_values('standings',ascending=False)

        name   avg_score        std  win_margin  lost_margin standings
5        ken  111.316667  11.283159   19.420000   -12.300000       5-1
3       cari  126.883333  26.882962   31.500000    -6.250000       4-2
7      jason  104.533333  17.667333    5.075000   -42.450000       4-2
9       andy  130.650000  22.604845   20.325000    -6.300000       4-2
1     dustin   96.233333  18.010515   23.200000   -38.733333       3-3
4    matthew  127.500000  27.150838   18.100000   -18.766667       3-3
6      keith  120.300000  15.348094   15.766667    -6.700000       3-3
8   kathleen   93.733333   5.295533   24.133333   -27.200000       3-3
0    stephen   99.666667  32.173260   23.450000   -29.450000       2-4
10   patrick  108.883333  18.483659   34.850000   -13.825000       2-4
11    nathan   99.483333  12.767681   16.450000   -16.700000       2-4
2      brian   92.050000  29.284177    9.600000   -18.200000       1-5

In [9]:
columns = ['avg_score','std','win_margin','lost_margin']
titles = ['Average Score (mean)','BOOM or BUST (std)', 'Barely Won a Game (Win Margin)', 'Almost Won a Game (Loss Margin)']
standings = ['1-5','2-4','3-3', '4-2','5-1']

In [10]:
# create graph
for col,title in zip(columns,titles):
    df3 = df2.sort_values(col)

    # trace
    data = []
    for s in standings:
        trace = go.Bar(x=df3[df3.standings==s].name.tolist(),
                       y=df3[df3.standings==s][col].tolist(),name=s)
        data.append(trace)

    #layout
    layout = go.Layout(title=title,
                       barmode='group')

    # fig
    fig = go.Figure(data=data, layout=layout)
    
    py.iplot(fig)